<header class="header">
  <div class="header-container">
    <div class="logo">
      <h1>KIRIANGLEZ.COM</h1>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#inicio" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#sobre-mi" class="nav-link">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a href="#proyectos" class="nav-link">Proyectos</a>
        </li>
        <li class="nav-item">
          <a href="#contacto" class="nav-link">Contacto</a>
        </li>
      </ul>
    </nav>
    
  </div>
</header>